@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Gilroy', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1900px;
    margin: 0 auto;
}

@import 'blocks/titles';
@import 'blocks/buttons';
@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/start';
@import 'blocks/examples';
@import 'blocks/buyers';
@import 'blocks/watch';
@import 'blocks/work';
@import 'blocks/footer';