.btn {
    padding: 20px 200px;
    display: block;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 700;
    border: none;
    color: #fff;
    background-color: #000;
    transition: 0.3s all;
    &_big {
        &:hover {
            color: #000;
            background-color: #FFCD34;
        }
    }
    &_white12 {
        padding: 5px 40px;
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        color: #000;
        background-color: #fff;
        border: 1px solid #FFF;
        border-radius: 15px;
        &-active {
            border: 1px solid #000;
        }
        &:hover {
            background-color: #aaa;
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgb(97, 98, 99);
        }
        &:active {
            color: #FFF;
            background-color: #000;
            border: 1px solid #000;
        }
    }
    &_white20 {
        padding: 12px 40px;
        margin: 0;
        font-size: 20px;
        font-weight: 300;
        color: #000;
        background-color: #fff;
        border: 1px solid #231F20;
        border-radius: 10px;
        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
    &_white32 {
        padding: 20px 80px;
        font-size: 32px;
        font-weight: 400;
        color: #000;
        background-color: #fff;
        border: 1px solid #231F20;
        border-radius: 15px;
        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
    &_black40 {
        padding: 15px 80px;
        font-size: 40px;
        font-weight: 400;
        border-radius: 15px;
        &:hover {
            transform: scale(1.02);
            color: #fff;
            background-color: #000;
        }
    }
    &_yellow {
        padding: 15px 0px;
        width: 100%;
        background-color: #FFCE07;
        color: #353535;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        border-radius: 20px;
        &:hover {
            color: #FFCD34;
            background-color: #000;
        }
    }
    &_mini {
        padding: 0;
        margin: 0;
        height: 60px;
        width: 13%;
        border-radius: 12px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #000;
        background-color: #fff;
        border: 1px solid #000;
        transition: all 0.3s;
        &:hover {
            color: #fff;
            background-color: #000;
            border: 1px solid #fff;
        }
        &-active {
            color: #fff;
            background-color: #000;
            border: 1px solid #fff;
        }
    }
    &_wide {
        width: 100%;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        border: 1px solid #000;
        border-radius: 15px;
        &:hover {
            color: #000;
            background-color: #fff;
            border: 1px solid #000;
        }
    }
    &_black18 {
        padding: 6px 50px;
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        border: 1px solid #000;
        &:hover {
            color: #000;
            background-color: #FFF;
        }
    }
    &_white18 {
        padding: 6px 50px;
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        color: #000;
        background-color: #FFF;
        border: 1px solid #000;
        &:hover {
            color: #FFF;
            background-color: #000;
        }
    }
    &_gray30 {
        padding: 0;
        margin: 0;
        width: 628px;
        height: 95px;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.165em;
        color: #7F7F7F;
        background-color: #F4F4F4;
        border-radius: 22px;
    }
    &_green30 {
        padding: 0;
        margin: 0;
        width: 628px;
        height: 95px;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.165em;
        color: #7F7F7F;
        background-color: #73C17B;
        border-radius: 22px;
    }
}