.btn {
    padding: 20px 200px;
    display: block;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 700;
    border: none;
    color: #fff;
    background-color: #000;
    transition: 0.3s all;
    &_big {
        &:hover {
            color: #000;
            background-color: #FFCD34;
        }
    }
    &_white20 {
        padding: 12px 40px;
        margin: 0;
        font-size: 20px;
        font-weight: 300;
        color: #000;
        background-color: #fff;
        border: 1px solid #231F20;
        border-radius: 10px;
        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
    &_white32 {
        padding: 20px 80px;
        font-size: 32px;
        font-weight: 400;
        color: #000;
        background-color: #fff;
        border: 1px solid #231F20;
        border-radius: 15px;
        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
    &_black40 {
        padding: 15px 80px;
        font-size: 40px;
        font-weight: 400;
        border-radius: 15px;
        &:hover {
            transform: scale(1.02);
            color: #fff;
            background-color: #000;
        }
    }
}