.examples {
    padding-top: var(--sect-pt);
    &__text {
        margin-top: 50px;
        width: 50%;
        font-size: var(--main-fz);
        line-height: calc(var(--main-fz) * 1.1);
        text-align: justify;
    }
    &__wrapper {
        img {
            position: absolute;
            &:first-child {
                transform: scale(0.40) rotate(11deg);
                left: 290px;
                top: 25px;
            }
            &:nth-child(2) {
                transform: scale(0.40) rotate(-9deg);
                left: 340px;
                top: -250px;
            }
            &:nth-child(3) {
                transform: scale(0.40) rotate(4deg);
                left: 890px;
                top: 185px;
            }
        }
    }
}