.examples {
    padding-top: 150px;
    &__text {
        margin-top: 50px;
        width: 1000px;
        font-size: 48px;
        line-height: 56px;
        text-align: justify;
    }
    &__wrapper {
        img {
            position: absolute;
            &:first-child {
                transform: scale(0.65) rotate(11deg);
                left: 720px;
                top: 250px;
            }
            &:nth-child(2) {
                transform: scale(0.65) rotate(-9deg);
                left: 850px;
                top: -200px;
            }
            &:nth-child(3) {
                transform: scale(0.65) rotate(4deg);
                left: 1520px;
                top: 500px;
            }
        }
    }
}