.footer {
    padding: 40px 45px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    &__info {
        width: 45%;
    }
    &__logo {
        font-size: 100px;
        line-height: 124px;
        font-weight: 700;
    }
    &__invite {
        margin-top: 30px;
        font-size: 29px;
        font-weight: 400;
    }
    &__form {
        position: relative;
        margin-top: 30px;
        width: 100%;
        input {
            height: 80px;
            width: 100%;
            border: none;
            border-radius: 20px;
            padding: 20px 30px;
            font-size: 29px;
            font-weight: 400;
            color: #666766;
            &:last-child {
                position: absolute;
                right: 0;
                width: 15%;
                border-left: 2px solid #000;
                border-radius: 0 20px 20px 0;
            }
        }
    }
    &__company {
        margin-top: 50px;
        font-size: 18px;
        font-weight: 400;
    }
    &__wrapper {
        margin-top: 40px;
        width: 40%;
    }
    &__links {
        display: flex;
        align-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
        a {
            color: #fff;
            font-size: 26px;
            font-weight: 400;
        }
    }
    &__social {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        img {
            height: 70px;
            color: #fff;
        }
    }
}