@media (max-width: 1536px) {
    .container {
        width: 1080px;
    }
    :root {
        --main-fz: 33px;
        --sect-pt: 100px;
    }
    .title {
        &_big {
            line-height: 1.1;
        }
        &_fz64 {
            font-size: 50px;
        }
    }
    .btn {
        &_big {
            padding: 15px 100px;
        }
    }
    .menu {
        &__item {
            &-link {
                padding: 15px 65px;
            }
        }
    }
    .start {
        &__item {
            margin: 0 20px;
        }
    }
    .examples {
        &__wrapper {
            left: -130px;
            img {
                &:first-child {
                    transform: scale(0.35) rotate(11deg);
                    left: 220px;
                    top: -50px;
                }
                &:nth-child(2) {
                    transform: scale(0.35) rotate(-9deg);
                    left: 260px;
                    top: -290px;
                }
                &:nth-child(3) {
                    transform: scale(0.35) rotate(4deg);
                    left: 785px;
                    top: 100px;
                }
            }
        }
    }
    .primary {
        &__text {
            height: 800px;
        }
        &__wrapper {
            div {
                &:nth-child(2) {
                    transform: scale(0.8);
                }
            }
        }
    }
    .terms {
        &__item {
            padding: 10px 0 10px 65px;
            font-size: 28px;
            &:before {
                width: 50px;
                height: 50px;
            }
        }
    }
    .statistics {
        padding: 15px 20px;
        width: 500px;
        &-divider {
            margin: 20px 0;
            width: 480px;
            transform: translateX(-10px);
    
        }
        &-number {
            div {
                font-size: 40px;
                line-height: 50px;
            }
        }
        &-descr {
            font-size: 16px;
        }
    }
    .profit {
        height: 565px;
        &__bg {
            height: 565px;
        }
        &__img {
            height: 565px;
        }
        &__text {
            font-size: 40px;
            line-height: 44px;
            span {
                font-size: 46px;
            }
        }
    }
    .articles {
        &__item {
            height: 530px;
            &-descr {
                margin-top: 20px;
            }
        }
    }
    .carousel {
        &__inner {
            width: 100%;
        }
        .slick-prev {
            left: -80px;
        }
        .slick-next {
            right: -80px;
        }
        &__item {
            height: 450px;
        }
    }
    .donation {
        &__coins {
            div {
                &:first-child {
                    transform: scale(0.40) rotate(-15deg);
                    left: 720px;
                    top: -15px;
                }
                &:nth-child(2) {
                    left: 900px;
                    top: 75px;
                }
                &:nth-child(3) {
                    transform: scale(0.5);
                    left: 905px;
                    top: 160px;
                }
            }
        }
    }
}

@media (max-width: 1439px) {
    .container {
        width: 900px;
    }
    :root {
        --main-fz: 27px;
        --sect-pt: 80px;
    }
    .title {
        &_big {
            font-size: 45px;
        }
        &_fz20 {
            font-size: 18px;
            line-height: 20px;
        }
        &_fz31 {
            font-size: 27px;
            line-height: 30px;
        }
        &_fz40 {
            font-size: 35px;
        }
        &_fz48 {
            font-size: 37px;
        }
        &_fz50 {
            font-size: 40px;
        }
        &_fz64 {
            font-size: 40px;
        }
    }
    .btn {
        &_white32 {
            padding: 15px 50px;
            font-size: 25px;
        }
        &_black40 {
            font-size: 32px;
        } 
        &_yellow {
            padding: 10px 0px;
            font-size: 28px;
            line-height: 33px;
            border-radius: 15px;
        }
        &_mini {
            height: 45px;
            font-size: 20px;
            line-height: 24px;
        }
        &_wide {
            padding: 12px 30px;
            border-radius: 10px;
        }
    }
    .menu {
        &__item {
            &-link {
                font-size: 25px;
                padding: 10px 57px;
            }
        }
    }
    .promo {
        h1 {
            font-size: 180px;
            line-height: 200px;
        }
        &__subtitle {
            font-size: 47px;
            line-height: 47px;
        }
        &__menu {
            margin-top: 50px;
        }
        &__epigraph {
            margin-top: 30px;
            width: 80%;
            &-sample {
                margin-bottom: 40px;
            }
            &-text {
                font-size: 30px;
            }
            &-author {
                font-size: 22px;
            }
        }
        &__text {
            margin-top: 30px;
            font-size: 25px;
        }
        &__form {
            width: 70%;
            &-search {
                height: 60px;
                font-size: 22px;
                padding: 15px 50px 15px 150px;
            }
            &_wide {
                width: 100%;
            }
        }
    }
    .start {
        &__wrapper {
            &-sample {
                margin: 60px auto;
            }
        }
        &__instruction {
            margin-top: 15px;
        }
        &__item {
            margin: 0 15px;
            height: 200px;
            &-icon {
                height: 130px;
            }
            &-descr {
                font-size: 24px;
            }
        }
        &__arrow {
            &-up {
                img {
                    width: 120px;
                }
            }
            &-down {
                margin: 15px auto 0 auto;
                width: 63%;
                img {
                    width: 120px;
                }
            }
        }
        &__btn {
            margin-top: 80px;
        }
    }
    .examples {
        &__text {
            margin-top: 40px;
            &-sample {
                margin-bottom: 60px;
            }
        }
        &__wrapper {
            left: -110px;
            top: -60px;
            &-sample {
                top: -70px;
            }
            img {
                &:first-child {
                    transform: scale(0.30) rotate(11deg);
                    left: 75px;
                    top: -145px;
                }
                &:nth-child(2) {
                    transform: scale(0.30) rotate(-9deg);
                    left: 100px;
                    top: -350px;
                }
                &:nth-child(3) {
                    transform: scale(0.30) rotate(4deg);
                    left: 600px;
                    top: -15px;
                }
            }
        }
    }
    .buyers {
        padding-top: 130px;
        &__text {
            margin-top: 40px;
        }
        &__earnings {
            height: 677px;
            &-sum {
                font-size: 150px;
                line-height: 160px;
            }
            &-descr {
                font-size: 26px;
            }
        }
        &__wrapper {
            margin-top: 80px
        }
        &__total {
            padding: 20px 30px;
            width: 500px;
            height: 400px;
            border-radius: 20px;
            &-header {
                div {
                    font-size: 18px;
                }
            }
            &-divider {
                margin: 20px 0;
                width: 470px;
                transform: translateX(-15px);
            }
            &-number {
                div {
                    font-size: 40px;
                    line-height: 50px;
                }
            }
            &-descr {
                font-size: 16px;
            }
        }
    }
    .work {
        &__text {
            font-size: 40px;
        }
        &-sample {
            padding: 100px 0;
        }
    }
    .footer {
        padding: 25px 150px;
        &__info {
            width: 45%;
        }
        &__logo {
            font-size: 70px;
            line-height: 80px;
        }
        &__invite {
            margin-top: 15px;
        }
        &__form {
            input {
                border-radius: 10px;
                font-size: 20px;
                &:last-child {
                    border-radius: 0 10px 10px 0;
                }
            }
        }
        &__company {
            font-size: 16px;
        }
        &__wrapper {
            margin-top: 25px;
            width: 45%;
        }
        &__social {
            margin-top: 30px;
        }
    }
    .primary {
        &__text {
            height: 700px;
            &-descr {
                font-size: 28px;
            }
        }
        &__wrapper {
            div {
                &:first-child {
                    transform: scale(0.4);
                    top: -16%;
                }
                &:nth-child(2) {
                    transform: scale(0.6);
                    top: 73%;
                }
                &:last-child {
                    transform: scale(0.5);
                    top: 55%;
                }
            }
        }
    }
    .terms {
        &__item {
            padding: 10px 0 10px 50px;
            font-size: 24px;
            &:before {
                width: 40px;
                height: 40px;
            }
        }
    }
    .statistics {
        width: 420px;
        &-header {
            div {
                font-size: 16px;
            }
        }
        &-divider {
            margin: 15px 0;
            width: 400px;
            transform: translateX(-10px);
    
        }
        &-number {
            div {
                font-size: 34px;
                line-height: 40px;
            }
        }
        &-descr {
            font-size: 14px;
        }
    }
    .profit {
        height: 475px;
        &__bg {
            height: 475px;
        }
        &__img {
            height: 475px;
        }
        &__text {
            font-size: 34px;
            line-height: 37px;
            span {
                font-size: 39px;
            }
        }
    }
    .articles {
        &__item {
            height: 470px;
            &-text {
                padding: 15px 25px;
            }
            &-data {
                font-size: 14px;
            }
            &-descr {
                font-size: 17px;
                margin-top: 20px;
            }
            &-link {
                margin-top: 20px;
                font-size: 16px;
            }
        }
    }
    .carousel {
        .slick-prev {
            left: -60px;
        }
        .slick-next {
            right: -60px;
        }
        &__item {
            height: 400px;
            &-title {
                font-size: 80px;
                line-height: 85px;
            }
            &-subtitle {
                font-size: 35px;
            }
        }
    }
    .products {
        &__group {
            &-divider {
                margin-top: 40px;
            }
            &-wrapper {
                margin-top: 40px;
            }
        }
        &__item {
            height: 400px;
            &-rating {
                font-size: 16px;
                &:before {
                    top: 49%;
                }
            }
            &-cost {
                padding: 4px 12px;
                font-size: 16px;
            }
        }
        &__filter {
            &-title {
                height: 72px;
            }
        }
        &__criterion {
            &-rating {
                padding: 17px;
            }
            &-stars {
                img {
                    width: 14px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
        &__input {
            &-string {
                height: 40px;
                font-size: 16px;
            }
            &-rating {
                width: 20px;
                height: 20px;
                border: 4px solid #EAEAEA;
            }
            &-display {
                width: 20px;
                height: 20px;
                border: 4px solid #EAEAEA;
            }
            &-contains {
                width: 20px;
                height: 20px;
                border: 4px solid #EAEAEA;
            }
        }
        &__string {
            margin-bottom: 8px;
            &-descr {
                font-size: 17px;
            }
            &-link {
                margin-top: 12px;
                font-size: 16px;
            }
        }
    }
    .try {
        padding-bottom: 40px;
        &__development {
            margin-top: 40px;
            height: 680px;
            &-title {
                font-size: 32px;
            }
            &-subtitle {
                font-size: 20px;
            }
        }
        &__form {
            margin-top: 30px;
            input {
                margin-bottom: 15px;
                height: 50px;
                border-radius: 15px;
                padding: 12px 30px;
                font-size: 28px;
                line-height: 33px;
            }
        }
    }
    .donation {
        padding-bottom: 100px;
        &__text {
            margin-top: 50px;
        }
        &__coins {
            div {
                &:first-child {
                    transform: scale(0.25) rotate(-15deg);
                    left: 580px;
                    top: -80px;
                }
                &:nth-child(2) {
                    transform: scale(0.15) rotate(-5deg);
                    left: 700px;
                    top: -15px;
                }
                &:nth-child(3) {
                    transform: scale(0.25);
                    left: 700px;
                    top: 30px;
                }
            }
        }
        &__money {
            margin-top: 60px;
            padding: 50px;
        }
        &__wrapper {
            input {
                padding: 11px 20px;
                font-size: 20px;
                line-height: 24px;
                &:last-child {
                    right: 10px;
                    top: 10px;
                }
            }
        }
        &__btn {
            margin-top: 20px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 950px;
    }
    :root {
        --main-fz: 23px;
        --sect-pt: 60px;
    }
    .title {
        &_big {
            font-size: 40px;
        }
        &_fz20 {
            font-size: 16px;
            line-height: 18px;
        }
        &_fz31 {
            font-size: 23px;
            line-height: 26px;
        }
        &_fz40 {
            font-size: 30px;
        }
        &_fz48 {
            font-size: 33px;
        }
        &_fz50 {
            font-size: 35px;
        }
        &_fz64 {
            font-size: 33px;
        }
    }
    .btn {
        &_big {
            padding: 15px 70px;
            font-size: 26px;
        }
        &_white20 {
            padding: 10px 35px;
            font-size: 18px;
        }
        &_white32 {
            padding: 10px 40px;
            font-size: 21px;
        }
        &_black40 {
            padding: 12px 60px;
            font-size: 24px;
        }
        &_yellow {
            font-size: 24px;
            line-height: 27px;
            border-radius: 10px;
        }
        &_mini {
            height: 36px;
            border-radius: 10px;
            font-size: 17px;
            line-height: 20px;
        }
        &_wide {
            padding: 10px 30px;
            font-size: 20px;
            line-height: 24px;
        }
    }
    .menu {
        &__item {
            &-link {
                font-size: 21px;
                padding: 10px 70px;
            }
        }
    }
    .promo {
        h1 {
            font-size: 120px;
            line-height: 130px;
        }
        &__subtitle {
            font-size: 31px;
            line-height: 36px;
        }
        &__menu {
            margin-top: 40px;
        }
        &__epigraph {
            margin-top: 25px;
            &-text {
                font-size: 26px;
            }
            &-author {
                font-size: 18px;
            }
        }
        &__text {
            margin-top: 25px;
            font-size: 20px;
        }
        &__header {
            margin-top: 30px;
        }
        &__form {
            width: 80%;
        }
    }
    .start {
        &__wrapper {
            &-sample {
                margin: 40px auto;
            }
        }
        &__item {
            margin: 0 10px;
            height: 200px;
            &-icon {
                height: 150px;
                img {
                    max-height: 60%;
                }
            }
            &-descr {
                height: 49px;
                font-size: 18px;
            }
        }
    }
    .examples {
        &__wrapper {
            left: 0px;
            img {
                &:first-child {
                    transform: scale(0.25) rotate(11deg);
                    left: -45px;
                    top: -210px;
                }
                &:nth-child(2) {
                    transform: scale(0.25) rotate(-9deg);
                    left: -35px;
                    top: -380px;
                }
                &:nth-child(3) {
                    transform: scale(0.25) rotate(4deg);
                    left: 445px;
                    top: -95px;
                }
            }
        }
    }
    .buyers {
        padding-top: 200px;
        &__earnings {
            height: 560px;
            &-sum {
                font-size: 140px;
                line-height: 140px;
            }
            &-descr {
                font-size: 23px;
            }
        }
        &__wrapper {
            margin-top: 60px
        }
        &__total {
            padding: 15px 20px;
            width: 400px;
            height: 300px;
            border-radius: 10px;
            &-header {
                div {
                    font-size: 15px;
                }
            }
            &-divider {
                margin: 15px 0;
                width: 380px;
                transform: translateX(-10px);
            }
            &-number {
                div {
                    font-size: 32px;
                    line-height: 36px;
                }
            }
            &-descr {
                font-size: 14px;
            }
        }
    }
    .work {
        &__text {
            font-size: 30px;
        }
        &-sample {
            padding: var(--sect-pt) 0;
        }
    }
    .footer {
        padding: 20px 25px;
        &__logo {
            font-size: 60px;
            line-height: 70px;
        }
        &__invite {
            font-size: 18px;
        }
        &__form {
            input {
                height: 40px;
                padding: 10px 20px;
                font-size: 18px;
            }
        }
        &__wrapper {
            margin-top: 20px;
            width: 45%;
        }
        &__social {
            margin-top: 20px;
            img {
                height: 35px;
            }
        }
    }
    .primary {
        &__text {
            height: 500px;
            &-descr {
                font-size: 22px;
            }
        }
        &__wrapper {
            div {
                &:first-child {
                    transform: scale(0.3);
                    top: -25%;
                }
                &:nth-child(2) {
                    transform: scale(0.4);
                    top: 65%;
                }
                &:last-child {
                    transform: scale(0.4);
                    top: 52%;
                }
            }
        }
    }
    .terms {
        &__list {
            width: 60%;
        }
        &__item {
            font-size: 22px;
        }
    }
    .statistics {
        width: 360px;
        padding: 10px 16px;
        &-header {
            div {
                font-size: 14px;
            }
        }
        &-divider {
            width: 350px;
            transform: translateX(-11px);
    
        }
        &-number {
            div {
                font-size: 30px;
                line-height: 34px;
            }
        }
        &-descr {
            font-size: 12px;
        }
    }
    .profit {
        height: 460px;
        &__bg {
            height: 460px;
        }
        &__img {
            height: 460px;
        }
        &__text {
            font-size: 28px;
            line-height: 32px;
            span {
                font-size: 32px;
            }
        }
    }
    .articles {
        &__item {
            height: 410px;
            &-text {
                padding: 10px 20px;
            }
            &-data {
                font-size: 13px;
            }
            &-header {
                margin-top: 5px;
            }
            &-descr {
                font-size: 15px;
                margin-top: 10px;
            }
            &-link {
                margin-top: 10px;
                font-size: 14px;
            }
        }
    }
    .carousel {
        &__inner {
            width: 750px;
        }
        .slick-prev {
            left: -60px;
        }
        .slick-next {
            right: -60px;
        }
        &__item {
            height: 300px;
            &-title {
                font-size: 60px;
                line-height: 65px;
            }
            &-subtitle {
                font-size: 25px;
            }
        }
    }
    .products {
        &__group {
            &-divider {
                margin-top: 30px;
            }
            &-wrapper {
                margin-top: 30px;
            }
        }
        &__item {
            height: 340px;
            margin-top: 10px;
            &-img {
                height: 70%;
            }
            &-footer {
                height: 12%;
            }
            &-rating {
                font-size: 14px;
                &:before {
                    top: 49%;
                    height: 14px;
                }
            }
            &-cost {
                padding: 4px 12px;
                font-size: 14px;
            }
        }
        &__filter {
            margin-top: 10px;
            &-title {
                height: 61px;
            }
        }
    }
    .try {
        padding-bottom: 50px;
        &__development {
            margin-top: 30px;
            height: 565px;
            &-title {
                font-size: 27px;
            }
            &-subtitle {
                font-size: 17px;
            }
        }
        &__form {
            input {
                border-radius: 10px;
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
    .donation {
        padding-bottom: 60px;
        &__text {
            margin-top: 40px;
        }
        &__coins {
            div {
                &:first-child {
                    transform: scale(0.30) rotate(-15deg);
                    left: 610px;
                    top: -100px;
                }
                &:nth-child(2) {
                    transform: scale(0.20) rotate(-5deg);
                    left: 760px;
                    top: -30px;
                }
                &:nth-child(3) {
                    left: 760px;
                    top: 40px;
                }
            }
        }
        &__money {
            margin-top: 50px;
            padding: 40px;
        }
        &__wrapper {
            input {
                padding: 8px 20px;
                font-size: 18px;
                line-height: 20px;
                &:last-child {
                    width: 20px;
                    right: 8px;
                    top: 8px;
                }
            }
        }
        &__btn {
            margin-top: 15px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    :root {
        --main-fz: 18px;
        --sect-pt: 50px;
    }
    .title {
        &_big {
            font-size: 33px;
        }
        &_fz31 {
            font-size: 18px;
            line-height: 21px;
        }
        &_fz40 {
            font-size: 26px;
        }
        &_fz48 {
            font-size: 27px;
        }
        &_fz50 {
            font-size: 28px;
        }
        &_fz64 {
            font-size: 28px;
        }
    }
    .btn {
        &_big {
            font-size: 21px;
        }
        &_white20 {
            font-size: 16px;
        }
        &_white32 {
            padding: 10px 30px;
            font-size: 18px;
        }
        &_black40 {
            padding: 12px 50px;
            font-size: 20px;
        }
        &_mini {
            height: 34px;
        }
    }
    .menu {
        &__item {
            &-link {
                font-size: 18px;
                padding: 10px 50px;
            }
        }
    }
    .promo {
        &__sample {
            padding: var(--sect-pt) 0;
        }
        h1 {
            font-size: 100px;
            line-height: 110px;
        }
        &__subtitle {
            font-size: 26px;
            line-height: 30px;
        }
        &__menu {
            margin-top: 25px;
        }
        &__epigraph {
            &-text {
                font-size: 19px;
            }
            &-author {
                font-size: 15px;
            }
        }
        &__text {
            font-size: 16px;
        }
        &__header {
            margin-top: 20px;
        }
        &__form {
            width: 90%;
            margin-top: 50px;
            &-search {
                height: 50px;
                font-size: 20px;
                padding: 15px 40px 15px 130px;
            }
        }
    }
    .start {
        &__item {
            height: 150px;
            &-icon {
                height: 110px;
            }
            &-descr {
                height: 39px;
                font-size: 15px;
            }
        }
        &__arrow {
            &-up {
                img {
                    width: 80px;
                }
            }
            &-down {
                img {
                    width: 80px;
                }
            }
        }
        &__btn {
            margin-top: 50px;
        }
    }
    .examples {
        &__text {
            margin-top: 40px;
            &-sample {
                margin-bottom: 30px;
            }
        }
        &__wrapper {
            img {
                &:first-child {
                    transform: scale(0.20) rotate(11deg);
                    left: -195px;
                    top: -270px;
                }
                &:nth-child(2) {
                    transform: scale(0.20) rotate(-9deg);
                    left: -195px;
                    top: -405px;
                }
                &:nth-child(3) {
                    transform: scale(0.20) rotate(4deg);
                    left: 255px;
                    top: -170px;
                }
            }
        }
    }
    .buyers {
        padding-top: 180px;
        &__earnings {
            margin-top: 40px;
            height: 430px;
            &-sum {
                font-size: 110px;
                line-height: 110px;
            }
            &-descr {
                font-size: 18px;
            }
        }
        &__wrapper {
            margin-top: 40px
        }
        &__total {
            padding: 10px 15px;
            width: 300px;
            height: 250px;
            &-header {
                div {
                    font-size: 11px;
                }
            }
            &-divider {
                margin: 10px 0;
                width: 290px;
            }
            &-number {
                div {
                    font-size: 27px;
                    line-height: 31px;
                }
            }
            &-descr {
                margin-top: 8px;
                font-size: 12px;
            }
        }
    }
    .watch {
        &__btn {
            margin-top: 40px;
        }
    }
    .work {
        &__text {
            font-size: 30px;
            line-height: 36px;
        }
        &__btn {
            margin-top: 30px;
        }
    }
    .footer {
        padding: 15px 20px;
        &__info {
            width: 47%;
        }
        &__logo {
            font-size: 50px;
            line-height: 56px;
        }
        &__invite {
            font-size: 15px;
        }
        &__form {
            input {
                height: 35px;
                padding: 10px 15px;
                font-size: 15px;
            }
        }
        &__company {
            margin-top: 20px;
            font-size: 12px;
        }
        &__links {
            height: 105px;
            a {
                font-size: 14px;
            }
        }
        &__social {
            img {
                height: 30px;
            }
        }
    }
    .primary {
        &__text {
            height: 400px;
            &-descr {
                font-size: 18px;
            }
        }
        &__wrapper {
            div {
                &:first-child {
                    transform: scale(0.2);
                    top: -33%;
                    left: -1%;
                }
                &:nth-child(2) {
                    transform: scale(0.3);
                    top: 57%;
                    left: -12%;
                }
            }
        }
    }
    .terms {
        &__list {
            width: 60%;
        }
        &__item {
            padding: 5px 0 5px 40px;
            font-size: 16px;
            &:before {
                width: 30px;
                height: 30px;
            }
        }
    }
    .statistics {
        width: 300px;
        padding: 10px 10px;
        &-header {
            div {
                font-size: 11px;
            }
        }
        &-divider {
            margin: 10px 0;
            width: 290px;
            transform: translateX(-5px);
    
        }
        &-number {
            div {
                font-size: 27px;
                line-height: 31px;
            }
        }
    }
    .profit {
        height: 380px;
        &__bg {
            height: 380px;
        }
        &__img {
            height: 380px;
        }
        &__text {
            font-size: 22px;
            line-height: 25px;
            span {
                font-size: 25px;
            }
        }
    }
    .articles {
        &__item {
            height: 360px;
            &-text {
                padding: 10px 20px;
            }
            &-data {
                font-size: 11px;
            }
            &-header {
                margin-top: 5px;
            }
            &-descr {
                font-size: 13px;
                margin-top: 10px;
            }
            &-link {
                margin-top: 10px;
                font-size: 12px;
            }
        }
    }
    .carousel {
        &__inner {
            width: 600px;
        }
        .slick-prev, .slick-next {
            img {
                height: 60px;
            }
        }
        .slick-prev {
            left: -50px;
        }
        .slick-next {
            right: -50px;
        }
        &__item {
            height: 250px;
            &-title {
                font-size: 45px;
                line-height: 50px;
            }
            &-subtitle {
                font-size: 20px;
            }
        }
    }
    .products {
        &__group {
            &-divider {
                margin-top: 20px;
            }
            &-wrapper {
                margin-top: 20px;
            }
        }
        &__item {
            width: 48.5%;
            height: 390px;
            margin-top: 20px;
            &-img {
                height: 70%;
            }
            &-footer {
                height: 12%;
            }
            &-rating {
                font-size: 14px;
                &:before {
                    top: 49%;
                    height: 14px;
                }
            }
            &-cost {
                padding: 4px 12px;
                font-size: 14px;
            }
        }
        &__filter {
            margin-top: 20px;
            &-title {
                height: 70px;
            }
        }
        &__criterion {
            padding: 15px;
            &-item {
                margin-bottom: 15px;
            }
            &-title {
                margin-bottom: 15px;
            }
            &-rating {
                padding: 12px;
                border-radius: 10px;
            }
            &-stars {
                img {
                    width: 12px;
                }
            }
        }
        &__string {
            margin-bottom: 5px;
            &-descr {
                font-size: 15px;
            }
            &-link {
                font-size: 14px;
                margin-top: 10px;
            }
        }
        &__input {
            &-string {
                font-size: 14px;
                padding: 12px 30px;
                &_p22 {
                    padding: 12px 15px;
                }
            }
            &-ruble {
                left: 12px;
                font-size: 15px;
            }
            &-rating {
                width: 17px;
                height: 17px;
                border: 3px solid #EAEAEA;
            }
            &-display {
                width: 17px;
                height: 17px;
                border: 3px solid #EAEAEA;
            }
            &-contains {
                width: 17px;
                height: 17px;
                border: 3px solid #EAEAEA;
            }
        }
    }
    .try {
        padding-bottom: 30px;
        &__development {
            margin-top: 20px;
            height: 430px;
            &-title {
                font-size: 24px;
            }
        }
        &__form {
            input {
                font-size: 22px;
                line-height: 25px;
            }
        }
    }
    .donation {
        padding-bottom: 40px;
        &__text {
            margin-top: 20px;
        }
        &__coins {
            div {
                &:first-child {
                    transform: scale(0.25) rotate(-15deg);
                    left: 440px;
                }
                &:nth-child(2) {
                    left: 570px;
                    top: -20px;
                }
                &:nth-child(3) {
                    left: 570px;
                    top: 30px;
                }
            }
        }
        &__money {
            margin-top: 30px;
            padding: 25px;
        }
        &__wrapper {
            input {
                padding: 8px 15px;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 768px) {
    * {
        font-weight: 400;
    }
    .container {
        width: 540px;
    }
    :root {
        --main-fz: 20px;
        --sect-pt: 40px;
    }
    .title {
        &_big {
            font-size: 26px;
        }
        &_fz31 {
            font-size: 23px;
            line-height: 26px;
        }
        &_fz40 {
            font-size: 22px;
        }
        &_fz48 {
            font-size: 24px;
        }
        &_fz64 {
            text-align: center;
        }
    }
    .btn {
        font-weight: 500;
        &_big {
            padding: 12px 40px;
            font-size: 18px;
            &:hover {
                color: #fff;
                background-color: #000;
            }
        }
        &_white20 {
            padding: 8px 25px;
        }
        &_white32 {
            padding: 8px 20px;
            font-size: 14px;
            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
        &_black40 {
            padding: 10px 30px;
            font-size: 16px;
            &:hover {
                transform: scale(1.00);
            }
        }
        &_yellow {
            font-size: 20px;
            line-height: 24px;
        }
    }
    .menu {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        &__item {
            margin: 15px 0;
            &-link {
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                padding: 15px 30px;
                &:hover {
                    color: #000;
                    background-color: #FFCD34;
                }
            }
        }
    }
    .promo {
        .hamburger {
            display: flex;
        }
        h1 {
            font-size: 80px;
            line-height: 90px;
        }
        &__subtitle {
            font-size: 21px;
            line-height: 24px;
        }
        &__menu {
            display: none;
        }
        &__epigraph {
            &-sample {
                margin-top: 40px;
                margin-bottom: 40px;
            }
            &-text {
                line-height: 22px;
            }
            &-author {
                font-weight: 300;
            }
        }
        &__text {
            text-align: justify;
        }
        &__form {
            width: 95%;
            &-search {
                height: 50px;
                font-size: 17px;
                padding: 15px 20px 15px 90px;
            }
            &-icon {
                left: 20px;
                height: 60px;
            }
        }
    }
    .start {
        &__wrapper {
            &-sample {
                margin: 20px auto;
            }
        }
        &__item {
            height: 120px;
            &-icon {
                height: 75px;
            }
            &-descr {
                height: 44px;
                font-size: 16px;
                line-height: 14px;
                font-weight: 500;
            }
        }
    }
    .examples {
        &__text {
            width: 100%;
            
        }
        &__wrapper {
            display: none;
        }
    }
    .buyers {
        padding-top: 40px;
        &__text {
            &_small {
                width: 100%;
            }
        }
        &__earnings {
            height: 320px;
            &-sum {
                font-size: 80px;
                line-height: 80px;
            }
            &-descr {
                font-size: 20px;
                width: 70%;
            }
        }
        &__wrapper {
            margin-top: 0;
            flex-direction: column;
        }
        &__total {
            margin-top: 30px;
            height: 300px;
            &-header {
                div {
                    font-size: 16px;
                    &:last-child {
                        text-align: right;
                    }
                }
            }
            &-number {
                div {
                    font-size: 28px;
                    line-height: 34px;
                }
            }
            &-descr {
                margin-top: 8px;
                font-size: 16px;
            }
        }
    }
    .watch {
        &__btn {
            margin-top: 30px;
        }
    }
    .footer {
        padding: 30px 40px;
        flex-direction: column;
        &__info, &__wrapper {
            width: 100%;
        }
        &__invite {
            font-size: 20px;
        }
        &__company {
            display: none;
        }
        &__links {
            height: 200px;
            a {
                text-decoration: none;
                font-size: 19px;
                padding: 5px 0;
            }
        }
        &__social {
            img {
                height: 40px;
            }
        }
    }
    .primary {
        &__text {
            height: 300px;
            &-descr {
                width: 95%;
                font-size: 16px;
            }
        }
        &__wrapper {
            div {
                &:first-child {
                    top: -43%;
                    left: -10%;
                }
                &:nth-child(2) {
                    top: 42%;
                    left: -15%;
                }
            }
        }
    }
    .terms {
        &__wrapper {
            flex-direction: column;
        }
        &__list {
            width: auto;
        }
        &__item {
            font-size: 18px;
        }
    }
    .statistics {
        margin-top: 20px;
        width: 400px;
        padding: 15px 30px;
        &-header {
            div {
                font-size: 14px;
            }
        }
        &-divider {
            width: 380px;
            transform: translateX(-20px);
    
        }
        &-number {
            div {
                font-size: 32px;
                line-height: 36px;
            }
        }
    }
    .profit {
        height: 285px;
        &__bg {
            height: 285px;
        }
        &__img {
            height: 285px;
        }
        &__text {
            font-size: 16px;
            line-height: 18px;
            span {
                font-size: 18px;
            }
        }
    }
    .articles {
        &__item {
            width: 440px;
            height: 410px;
            &-text {
                padding: 10px 20px;
            }
            &-data {
                font-size: 13px;
            }
            &-header {
                margin-top: 5px;
            }
            &-descr {
                font-size: 15px;
                margin-top: 10px;
            }
            &-link {
                margin-top: 10px;
                font-size: 14px;
            }
        }
    }
    .carousel {
        &__inner {
            width: 100%;
            padding: 30px 0;
            flex-wrap: wrap;
        }
        .slick-dots {
            margin-top: 25px;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding-bottom: 0;
            button {
                width: 15px;
                height: 15px;
                border: none;
                border-radius: 100%;
                background-color: #000;
                margin: 0 20px;
                padding: 0;
                overflow: hidden;
            }
        }
    }
    .products {
        &__group {
            &-wrapper {
                flex-direction: column;
                align-items: center;
                &_double {
                    flex-direction: row;
                    align-items: flex-start;
                }
            }
            &-items {
                width: 57%;
            }
        }
        &__item {
            width: 340px;
            &-basic {
                width: 100%;
            }
        }
        &__filter {
            width: 40%;
        }
    }
    .try {
        &__development {
            height: 325px;
            &-title {
                font-size: 20px;
            }
            &-subtitle {
                font-size: 13px;
                font-weight: 400;
            }
        }
        &__form {
            width: 70%;
            input {
                font-size: 20px;
                line-height: 25px;
                height: 40px;
            }
        }
    }
    .donation {
        &__coins {
            div {
                &:first-child {
                    transform: scale(0.20) rotate(-15deg);
                    left: 340px;
                    top: -50px;
                }
                &:nth-child(2) {
                    transform: scale(0.15) rotate(-5deg);
                    left: 420px;
                    top: -5px;
                }
                &:nth-child(3) {
                    transform: scale(0.25);
                    left: 420px;
                }
            }
        }
        &__money {
            padding: 15px;
        }
        &__wrapper {
            &-form {
                width: 30%;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    :root {
        --main-fz: 18px;
        --sect-pt: 30px;
    }
    .title {
        &_big {
            line-height: 28px;
        }
        &_fz31 {
            font-size: 19px;
            line-height: 22px;
        }
        &_fz48 {
            font-size: 20px;
            line-height: 23px;
            text-align: center;
        }
        &_fz50 {
            font-size: 23px;
        }
        &_fz64 {
            font-size: 25px;
        }
    }
    .btn {
        font-weight: 500;
        &_big {
            padding: 10px 20px;
            font-size: 16px;
        }
        &_mini {
            width: 18%;
            font-size: 11px;
        }
        &_wide {
            margin-top: 10px;
        }  
    }
    .mobile {
        &__block {
            width: 75vw;
        }
    }
    .menu {
        &__item {
            &-link {
                padding: 15px 10px;
            }
        }
    }
    .promo {
        .hamburger {
            display: flex;
            top: 15px;
            right: 15px;
        }
        h1 {
            font-size: 50px;
        }
        &__form {
            width: 100%;
            margin-top: 30px;
            &-search {
                height: 35px;
                font-size: 14px;
                padding: 10px 15px;
            }
            &-icon {
                display: none;
            }
        }
    }
    .start {
        &__wrapper {
            position: relative;
        }
        &__instruction {
            flex-wrap: wrap;
            width: 290px;
            margin: 0 auto;
        }
        &__item {
            margin-bottom: 20px;
            width: 40%;
        }
        &__arrow {
            &-up, &-down {
                display: none;
            }
        }
        &__btn {
            margin-top: 30px;
        }
    }
    .buyers {
        &__earnings {
            margin-top: 30px;
            height: 270px;
            &-sum {
                font-size: 50px;
                line-height: 50px;
            }
            &-descr {
                font-size: 15px;
                width: 80%;
            }
        }
        &__total {
            height: 280px;
            width: 280px;
            &-header {
                div {
                    font-size: 15px;
                }
            }
            &-divider {
                width: 270px;
            }
            &-number {
                div {
                    font-size: 26px;
                    line-height: 31px;
                }
            }
        }
    }
    .work {
        &__text {
            font-size: 21px;
            line-height: 26px;
        }
        &__btn {
            margin-top: 25px;
        }
    }
    .footer {
        padding: 20px 10px;
        &__logo {
            padding-left: 20px;
        }
        &__invite {
            padding-left: 20px;
        }
        &__form {
            input {
                padding: 10px 12px;
            }
        }
        &__links {
            padding-left: 20px;
            height: auto;
            a {
                font-size: 16px;
                padding: 5px 0;
            }
        }
        &__social {
            justify-content: space-around;
            img {
                height: 30px;
            }
        }
    }
    .primary {
        &__text {
            &-descr {
                width: 100%;
                margin-top: 10px;
            }
        }
        &__wrapper {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 300px;
            width: 300px;
            div {
                &:first-child {
                    transform: scale(.25);
                    top: -26%;
                    left: 37%;
                }
                &:nth-child(2) {
                    transform: scale(0.18);
                    top: 45%;
                    left: -17%;
                }
                &:last-child {
                    transform: scale(0.3);
                    top: 70%;
                    left: 60%;
                }
            }
        }
    }
    .terms {
        &__item {
            font-size: 16px;
        }
    }
    .statistics {
        width: 300px;
        padding: 10px 10px;
        &-header {
            div {
                font-size: 11px;
            }
        }
        &-divider {
            margin: 10px 0;
            width: 290px;
            transform: translateX(-5px);
    
        }
        &-number {
            div {
                font-size: 27px;
                line-height: 31px;
            }
        }
    }
    .profit {
        height: 150px;
        .container {
            width: 300px;
        }
        &__bg {
            height: 150px;
        }
        &__img {
            height: 150px;
        }
        &__text {
            font-size: 13px;
            line-height: 14px;
            span {
                font-size: 14px;
            }
        }
    }
    .articles {
        &__item {
            width: 285px;
            height: 300px;
            &-img {
                height: 45%;
            }
            &-text {
                height: 55%;
                padding: 10px;
            }
            &-data {
                font-size: 11px;
                font-weight: 400;
            }
            &-descr {
                font-size: 13px;
            }
            &-link {
                margin-top: 8px;
                font-size: 12px;
            }
        }
    }
    .carousel {
        &__inner {
            padding: 15px 0;
        }
        .slick-dots {
            margin-top: 20px;
            button {
                margin: 0 15px;
            }
        }
        &__item {
            height: 150px;
            &-title {
                font-size: 27px;
                line-height: 30px;
            }
            &-subtitle {
                font-size: 15px;
            }
        }
    }
    .products {
        &_pt50 {
            padding-top: 15px;
        }
        &__group {
            &-header {
                flex-direction: column;
            }
            &-btn {
                margin-top: 10px;
            }
            &-divider {
                margin-top: 15px;
            }
            &-wrapper {
                margin-top: 15px;
                &_double {
                    flex-direction: column;
                    align-items: center;
                }
            }
            &-items {
                width: 100%;
                justify-content: center;
            }
        }
        &__item {
            width: 285px;
            height: 320px;
            &-title {
                padding: 0 15px;
            }
        }
        &__filter {
            width: 285px;
        }
    }
    .try {
        &__development {
            height: 210px;
            &-bg {
                display: none;
            }
            &-title {
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 10px;
            }
        }
        &__form {
            width: 95%;
            margin-top: 20px;
        }
    }
    .donation {
        &__text {
            width: 100%;
        }
        &__coins {
            display: none;
        }
        &__money {
            padding: 20px;
            width: 90%;
        }
        &__wrapper {
            &-form {
                display: none;
            }
        }
        &__form {
            margin-top: 10px;
            display: block;
            position: relative;
            input {
                padding: 8px 15px;
                width: 100%;
                font-size: 20px;
                font-weight: 300;
                line-height: 24px;
                color: #969696;
                border: none;
                border-radius: 10px;
                background-color: #EAEAEA;
                &:last-child {
                    position: absolute;
                    padding: 0;
                    width: 24px;
                    right: 8px;
                    top: 8px;
                }
            }
        }
    }
}