.primary {
    background-color: #4A98D3;
    &__text {
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-descr {
            color: #fff;
            font-weight: 100;
            font-size: 34px;
            width: 90%;
            text-align: center;
        }
    }
    &__wrapper {
        div {
            position: absolute;
            &:first-child {
                transform: scale(0.5);
                top: -120px;
                left: 100px;
            }
            &:nth-child(2) {
                top: 700px;
                left: -30px;
            }
            &:last-child {
                transform: scale(0.7);
                top: 530px;
                left: 1200px;
            }
        }
    }
    &__img {
        width: 100%;
    }
}