.primary {
    &_bgblue {
        background-color: #4A98D3;
    }
    &_bggreen {
        background-color: #5FC096;
    }
    &__text {
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-descr {
            color: #fff;
            font-size: 34px;
            width: 90%;
            text-align: center;
        }
    }
    &__wrapper {
        div {
            position: absolute;
            &:first-child {
                transform: scale(0.5);
                top: -13%;
                left: 7%;
            }
            &:nth-child(2) {
                top: 78%;
                left: -1%;
            }
            &:last-child {
                transform: scale(0.7);
                top: 59%;
                left: 80%;
            }
        }
    }
    &__img {
        width: 100%;
    }
}