.products {
    padding: var(--sect-pt) 0;
    &_pt50 {
        padding-top: 50px;
    }
    &__group {
        &:not(:first-child) {
            margin-top: var(--sect-pt);
        }
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-divider {
            margin-top: 50px;
            width: 100%;
            border-top: 1px solid #000;
        }
        &-wrapper {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &-items {
            width: 66%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__item {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 32%;
        height: 500px;
        border: 1px solid #000;
        border-radius: 10px 10px 0 0;
        &-basic {
            width: 48.5%;
        }
        &-title {
            padding: 0 30px;
            height: 18%;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #000;
        }
        &-img {
            border-bottom: 1px solid #000;
            height: 72%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 80%;
            }
        }
        &-footer {
            height: 10%;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-rating {
            position: relative;
            padding-left: 40px;
            font-weight: 400;
            font-size: 18px;
            &:before {
                content: '';
                background: url('../icons/star.svg') center center/cover no-repeat;
                display: block;
                position: absolute;
                height: 16px;
                width: 16px;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &-cost {
            padding: 7px 15px;
            background-color: #FFC41C;
            font-weight: 400;
            font-size: 18px;
        }
    }
    &__filter {
        margin-top: 20px;
        width: 32%;
        &-real {
            display: flex;
            flex-direction: column;
            min-height: 500px;
            border: 1px solid #000;
            border-radius: 10px 10px 0 0;
        }
        &-title {
            padding: 0 30px;
            height: 90px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #000;
        }
    }
    &__criterion {
        padding: 30px;
        &-item {
            position: relative;
            margin-bottom: 28px;
            &:last-child {
                margin-bottom: 0;
            }
            div {
                position: relative;
            }
        }
        &-title {
            margin-bottom: 25px;
        }
        &-rating {
            border: 1px solid #000;
            border-radius: 15px;
            padding: 25px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        &-stars {
            img {
                width: 20px;
            }
            span {
                font-weight: 400;
                font-size: 18px;
                line-height: 1.2;
            }
        }
        &-display {
            display: flex;
            flex-direction: column;
        }
        &-contains {
            display: flex;
            flex-direction: column;
        }
    }
    &__input {
        &-string {
            padding: 12px 42px;
            height: 54px;
            width: 100%;
            border-radius: 10px;
            background: #EAEAEA;
            border: none;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.2;
            &_p22 {
                padding: 12px 22px;
            }
        }
        &-ruble {
            position: absolute;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
        &-rating {
            appearance: none;
            margin-bottom: 0;
            width: 26px;
            height: 26px;
            border: 5.5px solid #EAEAEA;
            border-radius: 100%;
            background-color: #BDBFBA;
            &:checked {
                background-color: #8BC755;
            }
        }
        &-display {
            appearance: none;
            margin-bottom: 0;
            width: 26px;
            height: 26px;
            border: 5.5px solid #EAEAEA;
            background-color: #BDBFBA;
            &:checked {
                background-color: #8BC755;
            }
        }
        &-contains {
            appearance: none;
            margin-bottom: 0;
            width: 26px;
            height: 26px;
            border: 5.5px solid #EAEAEA;
            background-color: #BDBFBA;
            &:checked {
                background-color: #8BC755;
            }
        }
    }
    &__string {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:last-child {
            margin-bottom: 0;
        }
        &-descr {
            font-weight: 400;
            font-size: 20px;
            line-height: 1.2;
        }
        &-link {
            display: block;
            margin-top: 20px;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.2;
            color: #000;
            text-decoration: underline;
            &:hover {
                color: #000;
            }
        }
    }
}