.promo {
    padding: var(--sect-pt) 0;
    h1 {
        margin-bottom: 0;
        font-size: 240px;
        font-weight: 700;
        line-height: 280px;
        text-align: center;
        text-transform: uppercase;
        span {
            color: #999999;
            font-weight: 700;
            text-transform: none;
        }
    }
    &__subtitle {
        font-size: 63px;
        line-height: 63px;
        text-align: center;
    }
    &__menu {
        margin-top: 70px;
    }
    &__epigraph {
        margin: 0 auto;
        margin-top: 50px;
        width: 75%;
        &-text {
            font-size: 36px;
            font-weight: 500;
            font-style: italic;
            text-align: center;
        }
        &-author {
            font-size: 25px;
            text-align: end;
        }
    }
    &__text {
        margin: 80px 0 0 0;
        font-size: 32px;
    }
}