.profit {
    height: 750px;
    position: relative;
    &__bg {
        position: absolute;
        width: 100%;
        height: 750px;
        display: flex;
        z-index: -1;
        &_left {
            width: 50%;
            height: 100%;
            background-color: #F4C239;
        }
        &_right {
            width: 50%;
            height: 100%;
            background-color: #5858A6;
        }
    }
    &__img {
        background-color: #fff;
        height: 750px;
        display: flex;
        justify-content: space-between;
        &-weigher {
            height: 45%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 19%;
            img {
                height: 100%;
            }
        }
    }
    &__text {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-size: 50px;
        line-height: 60px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        span {
            font-weight: 300;
            font-size: 58px;
        }
    }
}