.start {
    &__wrapper {
        margin-top: 30px;
        &-sample {
            margin: 90px auto;
        }
    }
    &__instruction {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    &__item {
        margin: 0 30px;
        width: 300px;
        height: 300px;
        border: 1px solid #000;
        border-radius: 10px 10px 0 0;
        &-icon {
            height: 230px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-height: 70%;
            }
        }
        &-descr {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 27px;
            font-weight: 300;
            height: 69px;
            text-align: center;
            border-top: 1px solid #000;
        }
    }
    &__arrow {
        &-up {
            img {
                display: block;
                margin: 0 auto;
                width: 200px;
            }
        }
        &-down {
            width: 925px;
            margin: 30px auto 0 auto;
            display: flex;
            justify-content: space-between;
            img {
                width: 200px;
            }
        }
    }
    &__btn {
        margin-top: 120px;
    }
}