.statistics {
    padding: 20px 30px;
    width: 570px;
    border: none;
    &-header {
        display: flex;
        justify-content: space-between;
        div {
            font-size: 18px;
            font-weight: 500;
        }
    }
    &-divider {
        margin: 30px 0;
        width: 550px;
        border-top: 1px solid #000;
        transform: translateX(-20px);

    }
    &-number {
        display: flex;
        justify-content: space-between;
        div {
            font-size: 50px;
            line-height: 60px;
            font-weight: 500;
        }
    }
    &-descr {
        display: flex;
        justify-content: flex-end;
        font-size: 18px;
        font-weight: 500;
    }
}