.title {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 0;
    &_center {
        text-align: center;
    }
    &_big {
        text-align: center;
        color: #fff;
        font-size: 70px;
        font-weight: 700;
    }
}