.title {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 0;
    &_fz64 {
        font-size: 64px; 
        font-weight: 500;
    }
    &_center {
        text-align: center;
    }
    &_big {
        text-align: center;
        color: #fff;
        font-size: 70px;
        font-weight: 700;
    }
    &_fz31 {
        font-size: 31px;
        line-height: 34px;
    }
    &_fz50 {
        font-size: 50px;
        font-weight: 400;
    }
    &_fz40 {
        font-size: 40px;
        font-weight: 300;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 24px;
    }
}