.watch {
    padding: var(--sect-pt) 0;
    &__text {
        margin-top: 40px;
        font-size: var(--main-fz);
        line-height: calc(var(--main-fz) * 1.1);
        text-align: center;
    }
    &__btn {
        margin-top: 60px;
    }
}